<div style='color: {{textColor5}}'>



    <div id="profile">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About me</h5>
                    I am a Seattle software developer who graduated from 2019 with a BS in Applied Computer Science
                    (Cybersecurity) from Oregon State University. In my spare time I create free open-source software to
                    help improve the preservation and digitization of music online.

                </div>

                <div class="col-md-4 text-center">
                    <div width="246" height="246">

                        <img id='facePic' style='width:100%; position: relative; '
                            src="../static/assets/img/headshot.jpg">

                    </div>
                </div>

                <div id='detailsDiv' class="col-md-4">
                    <h5>Details</h5>
                    <strong>Name:</strong><br>
                    Martin Anthony Barker<br>
                    <strong>Age:</strong><br>
                    26 years<br>
                    <strong>Location:</strong><br>
                    Seattle, WA

                </div>
            </div>
        </div>

    </div>




    <div id="experiences">

        <hr>

        <h6>Education</h6>

        <div class="experiences">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <div class="experience row">
                <div class="col-md-4">
                    <h4>Oregon State University</h4>
                    <div class="experience-period">
                        September 2015 -
                        July 2019 </div>
                </div>
                <div class="col-md-8">

                    <strong>Bachelor - Applied Computer Science (Focus: Cybersecurity)</strong><br>
                    <span class="hidden-phone">
                        My applied CS degree gave me the unique perspective of software development
                        from a
                        cybersecurity view. My courses included programming in languages such as
                        Python, C++, C, as
                        well as bash and linux command line experience. I also took courses on web
                        development using
                        NodeJS, HTML, CSS, Javascript, and Django. As well as database setup /
                        management with SQL
                        and PostgreSQL. My cybersecurity courses taught me computer networking
                        protocols and
                        security, as well as threat detection / response. </span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Corvallis, OR </span>

                    </span>

                </div>
            </div>



        </div>
        <hr>
        <h6>Careers</h6>
        <div class="experiences">


            <!-- Philips Ultrasound -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Philips Ultrasound</h4>
                    <div class="experience-period">
                        February 2022 - May 2024</div>
                </div>
                <div class="col-md-8">
                    <strong>Senior DevOps Engineer</strong><br>
                    <span class="hidden-phone">
                        <li>Developed .NET applications in C# / C++, integrating GitHub API and SQL databases, enhancing functionality and efficiency of Ultrasound developer applications.
                        </li>
                        <li>
                             Wrote a Python script to lead the migration from IBM RTC to Azure DevOps for over 107,000 work items, attachments, parent/child relations, and comments.
                        </li>
Managed the NuGet/Artifactory package and release process, integrated into .NET applications.
                        <li>
Implemented GitHub Actions for CI/CD pipelines, enhancing deployment automation and reliability.
                        </li>

                    </span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Bothell, WA </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="https://www.usa.philips.com/healthcare/solutions/ultrasound"
                                target="_blank">Philips</a>
                        </span>
                    </span>
                </div>
            </div>
            <br>


            <!-- Alaska Airlines -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Alaska Airlines</h4>
                    <div class="experience-period">
                        September 2021 - November 2021</div>
                </div>
                <div class="col-md-8">
                    <strong>Software Developer Contractor</strong><br>
                    <span class="hidden-phone">
                        Working at Alaska Airlines, I help to develop and maintain the E-Commerce suite of web and
                        mobile products, as well as increased the accessibility score for Alaska Airlines web/mobile web
                        products. Contract ended due to uncertainty involving the Omicron variant within the Airline
                        Industry.


                    </span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Seattle, WA </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="https://www.alaskaair.com/" target="_blank">Alaska Airlines</a>
                        </span>
                    </span>
                </div>
            </div>
            <br>
            <!-- Bungee Tech -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Bungee Tech</h4>
                    <div class="experience-period">
                        January 2020 - August 2021</div>
                </div>
                <div class="col-md-8">
                    <strong>Software Engineer</strong><br>
                    <span class="hidden-phone">
                        Bungee Tech empowers retailers and brands to compete effectively in an ever-changing landscape
                        by collecting competitor product data, and visualizing that data to the clients online.
                        Some of my responsibilities at Bungee Tech included:
                        <li>Adding front-end features to Bungee websites which display millions of rows of data to the
                            user that can be filtered, exported, and sorted.</li>
                        <li>Week long on-call rotations where infrastructure and DevOps issues are solved in a timely
                            manner.</li>
                        <li>Writing PostgreSQL queries, setting up and managing databases to monitor the health of our
                            data.</li>
                        <li>Responding to client feedback / bug reports.</li>
                    </span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Seattle, WA </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="https://www.bungeetech.com/" target="_blank">Bungee Tech</a>
                        </span>
                    </span>
                </div>
            </div>
            <br>
            <!-- Zume, Inc -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Zume, Inc</h4>
                    <div class="experience-period">
                        September 2019 - January 2020</div>
                </div>
                <div class="col-md-8">

                    <strong>DevOps Engineer (Software Engineer I)</strong><br>
                    <span class="hidden-phone">
                        Working at Zume before the Seattle office was laid off, I gained hands-on experience
                        with the full DevOps pipeline of code deployment from a local environment to production
                        clusters. I created Kubernetes clusters from scratch in Google Cloud Platform (GCP) and
                        installed Helm as well as ingress load balancers. I wrote my own Helm charts and
                        Dockerfiles and created webhooks to trigger the Docker image build process in Jenkins.
                        The process of installing services to different cluster environments (dev / perf / staging /
                        prod) was automated by Spinnaker pipelines that I wrote. I carried a security mindset
                        throughout all my work, setting up alert monitoring and handling cluster authorization.
                    </span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Seattle, WA </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="https://www.zume.com" target="_blank">Zume, Inc</a>
                        </span>
                    </span>

                </div>
            </div>
            <br>
            <!-- moxiworks -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>MoxiWorks</h4>
                    <div class="experience-period">
                        June 2018 - August 2019</div>
                </div>
                <div class="col-md-8">

                    <strong>Quality Assurance Engineer Intern</strong><br>
                    <span class="hidden-phone">
                        MoxiWorks is a real estate tech startup located in Seattle, WA. As a QA engineer, I wrote
                        automated testing software in Java to cover the Moxi suite
                        of web products as well as their external API. Our workflow utilized agile development and
                        sprints to push out new features, as well as git to maintain the shared repo we all worked in.
                        This position helped strengthen my programming habits for writing scalable code meant to
                        be reused/revisited by different people. It also gave me more experience
                        communicating with a team through daily standup meetings.</span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Seattle, WA </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="https://www.moxiworks.com" target="_blank">moxiworks.com</a>
                        </span>
                    </span>

                </div>
            </div>
            <br>
            <!-- kbvr -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>KBVR FM / TV</h4>
                    <div class="experience-period">
                        September 2016 -
                        April 2018 </div>
                </div>
                <div class="col-md-8">

                    <strong>Full Time - Student Engineer</strong>
                    <span class="hidden-phone">
                        At Orange Media Network I worked as student engineer for OSU's TV / Radio
                        station KBVR FM /
                        TV. I was in charge of learning and teaching state-of-the-art media software
                        / hardware used
                        in our daily TV productions and radio broadcasts. I ran audio for
                        on-location OSU football
                        broadcasts, and was sent to the National Association of Broadcasters
                        convention in Las Vegas
                        by my college in 2015 / 2016. The position helped me gain experience in
                        learning new tech
                        outside my comfort zone, and teaching that technology to students in an
                        understandable way
                        devoid of technical jargon.</span>
                    <span class="experience-details">
                        <span class="location">
                            <i class="material-icons">place</i> Corvallis, OR </span>
                        <span class="seperator">|</span>
                        <span class="link">
                            <a href="http://www.orangemedianetwork.com" target="_blank">orangemedianetwork.com</a>
                        </span>
                    </span>

                </div>
            </div>
        </div>
    </div>
    <hr>

</div>