.home-content {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #7D3F98;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.details, .education, .career {
    margin-top: 30px;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}
